
.small {
    width: 22vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
}
.medium {
    width: 36vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
}
.large {
    width: 55vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
}