/* Themes manually applied to blog posts via markdown. */
.small {
    width: 22vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.medium {
    width: 36vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.large {
    width: 55vw;
    display: flex; 
    margin-right: auto; 
    margin-left: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.caption {
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.77rem;
    color: var(--caption-color);
}

@media (max-width: 720px) {
    .small {
        width: 33vw;
        display: flex; 
        margin-right: auto; 
        margin-left: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .medium {
        width: 57vw;
        display: flex; 
        margin-right: auto; 
        margin-left: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .large {
        width: 100vw;
        display: flex; 
        margin-right: auto; 
        margin-left: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .caption {
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 0.77rem;
        color: var(--caption-color);
    }
}