/* Get fonts from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

@layer base {
	:root {
		/* Font from import above */
		--main-font: 'REM', sans-serif;
		--black: 15, 18, 25;
		--gray: 96, 115, 159;
		--gray-light: 229, 233, 240;
		--gray-super-light: 179, 179, 179;
		--gray-dark: 34, 41, 57;


		/* Color Palette */
		/* Find a palette with https://mycolor.space/?hex=%23D4E9F8&sub=1 */
		/* Generate RGB codes with https://uicolors.app/create */
		/* Generate gradietns with https://mycolor.space/gradient?ori=to+bottom&hex=%23102C41&hex2=%230F2424&sub=1 */
		/* Another fun tool is https://huemint.com/illustration-1/ */
		--pattens-blue-50: 242 249 253;
		--pattens-blue-100: 212 233 248;
		--pattens-blue-200: 194 227 245;
		--pattens-blue-300: 140 204 237;
		--pattens-blue-400: 78 178 226;
		--pattens-blue-500: 39 152 208;
		--pattens-blue-600: 25 122 176;
		--pattens-blue-700: 21 98 143;
		--pattens-blue-800: 22 83 118;
		--pattens-blue-900: 23 70 99;
		--pattens-blue-950: 16 44 65;
		
		--curious-blue-50: 239 248 255;
		--curious-blue-100: 222 240 255;
		--curious-blue-200: 182 228 255;
		--curious-blue-300: 117 208 255;
		--curious-blue-400: 44 184 255;
		--curious-blue-500: 0 164 255;
		--curious-blue-600: 0 126 212;
		--curious-blue-700: 0 100 171;
		--curious-blue-800: 0 84 141;
		--curious-blue-900: 6 71 116;
		--curious-blue-950: 4 45 77;

		--aqua-squeeze-50: 230 244 241;
		--aqua-squeeze-100: 216 239 234;
		--aqua-squeeze-200: 176 223 215;
		--aqua-squeeze-300: 128 200 189;
		--aqua-squeeze-400: 86 171 161;
		--aqua-squeeze-500: 60 144 136;
		--aqua-squeeze-600: 46 115 110;
		--aqua-squeeze-700: 40 93 90;
		--aqua-squeeze-800: 36 75 74;
		--aqua-squeeze-900: 33 64 62;
		--aqua-squeeze-950: 15 36 36;

		--meteor-50: 254 251 231;
		--meteor-100: 255 246 194;
		--meteor-200: 255 233 138;
		--meteor-300: 255 214 66;
		--meteor-400: 253 190 18;
		--meteor-500: 235 166 5;
		--meteor-600: 203 126 1;
		--meteor-700: 143 79 4;
		--meteor-800: 117 60 10;
		--meteor-900: 98 49 15;
		--meteor-950: 47 20 4;

		/* Light Theme */
		--text-color-light: rgb(var(--meteor-950));
		--caption-color-light: rgb(var(--meteor-950) / .75);
		--heading-color-light: rgb(var(--pattens-blue-950));
		--background-color-light: rgb(var(--pattens-blue-50));
		--background-gradient-light: linear-gradient(to bottom, #f2f9fd, #ebf7fa, #e4f4f6, #ddf2f1, #d8efea);
		--accent-rgb-light: var(--pattens-blue-500);
		--accent-light: rgb(var(--accent-rgb-light));
		
		--social-links-color-light: rgb(var(--gray));
		--social-links-color-hover-light: rgb(var(--gray-light));
		
		--code-background-color-light: #24292e;
		--code-font-color-light: #9cc8fb;
		
		--hr-background-color-light: rgb(var(--gray-super-light));
		
		/* Dark Theme */
		--text-color-dark: rgb(var(--meteor-50));
		--caption-color-dark: rgb(var(--meteor-50) / .75);
		--heading-color-dark: rgb(var(--curious-blue-50));
		--background-color-dark: rgb(var(--pattens-blue-900));
		--background-gradient-dark: linear-gradient(to bottom, #102c41, #082b3a, #072932, #0a272b, #0f2424);
		--accent-dark: rgb(var(--pattens-blue-300));
		--accent-rgb-dark: var(--pattens-blue-300);
		--accent-dark: rgb(var(--accent-rgb-dark));

		--social-links-color-dark: rgb(var(--gray));
		--social-links-color-hover-dark: rgb(var(--gray-dark));
	
		--code-background-color-dark: #24292e;
		--code-font-color-dark: #9cc8fb;
	
		--hr-background-color-dark: rgb(var(--gray-super-light));
	}
}
