
/* In this file the theme is applied. 
If applying your own theme, comment out the default,
and import your own*/
@import 'default-theme.css';
/* @import 'your-theme.css'; */

@import 'light-dark-modes.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

 * { 
     min-width: 0;
 }
 

@layer base {
    :root {
        --box-shadow: 0 2px 6px rgb(var(--accent-rgb) / 0.1), 0 8px 24px rgb(var(--accent-rgb) / 0.1),
        0 16px 32px rgb(var(--accent-rgb) / 0.1);
    }
    body {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: var(--main-font);
        color: var(--text-color);
        text-align: left;
        word-wrap: break-word;
        overflow-wrap: break-word;
        background: var(--background-color);
        background-image: var(--background-gradient);
    }
    main {
       @apply w-11/12 lg:w-9/12 h-full flex flex-col grow justify-center items-center;
    }
    article {
       @apply flex flex-col grow justify-normal;
    }
    p {
        @apply text-4xl lg:text-base pb-4;
    }
    h1, h2, h3, h4, h5, h6 {
        color: var(--heading-color);
        @apply pb-4;
    }
    h1 {
        font-size: 3.052em;
    }
    h2 {
        font-size: 2.441em;
    }
    h3 {
        font-size: 1.953em;
    }
    h4 {
        font-size: 1.563em;
    }
    h5 {
        font-size: 1.25em;
    }
    h6 {
        font-size: .75em;
    }

    a {
        color: var(--accent);
    }
    a:hover {
        color: var(--accent);
    }
    ul {
        @apply list-disc;
        @apply pl-0; 
    }
    ul > li > ul {
        @apply pl-8;
    }
    li::marker {
        color: var(--accent);   
    }
    code {
        padding: 2px 5px;
        background-color: var(--code-background-color);
        color: var(--code-font-color);
        border-radius: 2px;
    }
    pre {
        padding: 1.5em;
        @apply my-4;
        border-radius: 8px;
    }
    pre > code {
        all: unset;
    } 
    blockquote {
        border-left: 4px solid var(--accent);
        padding: 0 0 0 20px;
        margin: 0px;
        font-size: 1.333em;
    }  
    img {
        @apply rounded-xl;
    }
    /* hr {
        border: none;           
        height: 1px;           
        background-color: var(--hr-background-color);
        width: 6%;             
        margin: 10px auto;     
    } */
}


 
 
.sr-only {
     border: 0;
     padding: 0;
     margin: 0;
     position: absolute !important;
     height: 1px;
     width: 1px;
     overflow: hidden;
     /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
     clip: rect(1px 1px 1px 1px);
     /* maybe deprecated but we need to support legacy browsers */
     clip: rect(1px, 1px, 1px, 1px);
     /* modern browsers, clip-path works inwards from each corner */
     clip-path: inset(50%);
     /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
     white-space: nowrap;
 }
 
 