/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* { 
	min-width: 0;
}

:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-super-light: 179, 179, 179;
	--gray-dark: 34, 41, 57;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
		
}

@mixin light-theme {
	--font-color: rgb(var(--gray-dark));
	--background-color: rgb(var(--gray-light));
	--accent: #4353ff;

	--social-links-color: rgb(var(--gray));
	--social-links-color-hover: rgb(var(--gray-dark));

	--code-background-color: #24292e;
	--code-font-color: #9cc8fb;

	--hr-background-color: rgb(var(--gray-super-light));
}

@mixin dark-theme {
	  --background-color: rgb(var(--gray-dark));
	  --font-color: rgb(var(--gray-light));
	  --accent: #4a57cb;

	  --social-links-color: rgb(var(--gray));
	  --social-links-color-hover: rgb(var(--gray-light));

	  --code-background-color: #24292e;
	  --code-font-color: #9cc8fb;

	  --hr-background-color: rgb(var(--gray-super-light));
  }

.light {
	@include light-theme;
  }
  
.dark {
	@include dark-theme;
  }

// On initial load we check if existing theme is set,
// if not we default to system preference.
// Finally we toggle the theme in ThemeIcon.astro if it's set locally.
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'REM', sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 1em;
	line-height: 1.7;
	height: 100vh;
	background: var(--background-color);
	color: var(--font-color);
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--font-color);
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--code-background-color);
	color: var(--code-font-color);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
    border: none;           /* Removes the default border */
    height: 1px;            /* Sets the height of the line */
    background-color: var(--hr-background-color);
    width: 6%;             /* Width of the dash */
    margin: 10px auto;      /* Centers the dash and adds space around it */
}

@media (max-width: 720px) {
	/* body {
		font-size: 16px;
	} */
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

