/* These are applied to switch between light and dark modes. */

@define-mixin light-theme {
	--text-color: var(--text-color-light);
	--caption-color: var(--caption-color-light);
	--heading-color: var(--heading-color-light);
	--background-color: var(--background-color-light);
	--background-gradient: var(--background-gradient-light);
	--accent: var(--accent-light);
	--accent-rgb: var(--accent-rgb-light);

	--social-links-color: var(--social-links-color-light);
	--social-links-color-hover: var(--social-links-color-hover-light);

	--code-background-color: var(--code-background-color-light);
	--code-font-color: var(--code-font-color-light);

	--hr-background-color: var(--hr-background-color-light);
}

@define-mixin dark-theme {
	--text-color: var(--text-color-dark);
	--caption-color: var(--caption-color-dark);
	--heading-color: var(--heading-color-dark);
	--background-color: var(--background-color-dark);
	--background-gradient: var(--background-gradient-dark);
	--accent: var(--accent-dark);
	--accent-rgb: var(--accent-rgb-dark);

	--social-links-color: var(--social-links-color-dark);
	--social-links-color-hover: var(--social-links-color-hover-dark);

	--code-background-color: var(--code-background-color-dark);
	--code-font-color: var(--code-font-color-dark);

	--hr-background-color: var(--hr-background-color-dark);
  }

.light {
	@mixin light-theme;
  }
  
.dark {
	@mixin dark-theme;
  }

/* To support browsers with JS disabled.
On initial load we check if existing theme is set,
if not we default to system preference.
In ThemeIcon.astro JS is used to set from the toggle. */
:root:not(.light):not(.dark) {
	@media (prefers-color-scheme: light) {
		@mixin light-theme;
	}
  
	@media (prefers-color-scheme: dark) {
		@mixin dark-theme;
	}
  }