
:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-super-light: 179, 179, 179;
	--gray-dark: 34, 41, 57;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
		
}

@define-mixin light-theme {
	--font-color: rgb(var(--gray-dark));
	--background-color: rgb(var(--gray-light));
	--accent: #4353ff;

	--social-links-color: rgb(var(--gray));
	--social-links-color-hover: rgb(var(--gray-dark));

	--code-background-color: #24292e;
	--code-font-color: #9cc8fb;

	--hr-background-color: rgb(var(--gray-super-light));
}

@define-mixin dark-theme {
	  --background-color: rgb(var(--gray-dark));
	  --font-color: rgb(var(--gray-light));
	  --accent: #4a57cb;

	  --social-links-color: rgb(var(--gray));
	  --social-links-color-hover: rgb(var(--gray-light));

	  --code-background-color: #24292e;
	  --code-font-color: #9cc8fb;

	  --hr-background-color: rgb(var(--gray-super-light));
  }

.light {
	@mixin light-theme;
  }
  
.dark {
	@mixin dark-theme;
  }

/* On initial load we check if existing theme is set,
if not we default to system preference.
Finally we toggle the theme in ThemeIcon.astro if it's set locally. */
:root:not(.light):not(.dark) {
	@media (prefers-color-scheme: light) {
	  @mixin light-theme;
	}
  
	@media (prefers-color-scheme: dark) {
	  @mixin dark-theme;
	}
  }