---
import HeaderLink from './HeaderLink.astro';
import { easyConfig } from '../../siteConfig';

const { class: className, ...rest } = Astro.props;
---

{
	easyConfig.easyabc_enabled && (
		<li class:list={[className]} {...rest}>
			<HeaderLink class="link-header" href="/easy">
				EasyABC
			</HeaderLink>
			<ul class="grid h-max grid-rows-3 sm:gap-5 sm:pt-5">
				<li>
					<HeaderLink class="text-sub" href="/easy">
						Readme
					</HeaderLink>
				</li>
				<li>
					<HeaderLink class="text-sub" href="/easy/blog">
						EasyABC Blog
					</HeaderLink>
				</li>
				<li>
					<HeaderLink class="text-sub" href="/easy/theme">
						ColorFun
					</HeaderLink>
				</li>
			</ul>
		</li>
	)
}
