---
import { Icon } from 'astro-icon/components';
import HeaderLink from './HeaderLink.astro';
import { easyConfig } from '../../../easyConfig';
import Footer from '../Footer.astro';
import SocialLinks from './SocialLinks.astro';
import ShareIcon from './ShareIcon.astro';
---

<nav id="navbar-desktop" class="background-gradient hidden text-semantic-on-surface-variant md:block">
	<div id="navbar-fun-line"></div>
	<Icon id="nav-arrow" class="block text-neutral-variant-600" name="material-symbols:keyboard-double-arrow-left-rounded" />
	<ul class="grid h-full w-full grid-rows-[repeat(20,_minmax(0,_1fr))] items-center justify-around">
		<li class="nav-item row-start-2 row-end-4">
			<HeaderLink class="link-header" href="/blog">Blog</HeaderLink>
			<span class="text-sub hidden italic">{easyConfig.site_description}</span>
		</li>
		<li class="nav-item row-start-5 row-end-6">
			<HeaderLink class="link-header" href="/">About</HeaderLink>
		</li>
		{
			easyConfig.easyabc_enabled && (
				<li class="nav-item row-start-7 row-end-9">
					<HeaderLink class="link-header" href="/easy">
						EasyABC
					</HeaderLink>
					<ul class="grid h-max grid-rows-3">
						<li>
							<HeaderLink class="text-sub" href="/easy">
								{' '}
								Readme{' '}
							</HeaderLink>
						</li>
						<li>
							<HeaderLink class="text-sub" href="/easy/blog">
								{' '}
								EasyABC Blog{' '}
							</HeaderLink>
						</li>
						<li>
							<HeaderLink class="text-sub" href="/easy/theme">
								{' '}
								ColorFun{' '}
							</HeaderLink>
						</li>
					</ul>
				</li>
			)
		}
		<li class="nav-item row-start-[12] row-end-[18]">
			<SocialLinks />
		</li>
		<li class="nav-item text-sub row-start-[18] row-end-[21] block">
			<Footer />
		</li>
	</ul>
</nav>
<nav
	id="navbar-mobile"
	class="background-gradient fixed bottom-0 left-0 flex h-[7svh] w-full text-semantic-on-surface-variant md:hidden"
>
	<ul class="grid h-full w-full grid-cols-3 grid-rows-1 items-stretch justify-items-stretch py-1">
		<li class="col-start-1 col-end-2 flex flex-col items-center justify-center">
			<SocialLinks />
		</li>
		<li class="col-start-2 col-end-3 flex flex-col items-center justify-center">
			<ShareIcon mode="mobile" />
		</li>
		<li id="nav-content-list" class="dropdown col-start-3 col-end-4 flex h-full w-full items-center justify-center">
			<ul tabindex="0" id="nav-content-mobile" class="dropdown-content z-[1]">
				{
					easyConfig.easyabc_enabled && (
						<li class="mx-2  h-max w-max">
							<ul class="mb-4 grid h-max w-max grid-rows-3 gap-4 text-left">
								<li>
									<HeaderLink class="text-sub" href="/easy/theme">
										{' '}
										ColorFun{' '}
									</HeaderLink>
								</li>
								<li>
									<HeaderLink class="text-sub" href="/easy">
										{' '}
										Readme{' '}
									</HeaderLink>
								</li>
								<li>
									<HeaderLink class="text-sub" href="/easy/blog">
										{' '}
										EasyABC Blog{' '}
									</HeaderLink>
								</li>
							</ul>
							<HeaderLink class="link-header" href="/easy">
								EasyABC
							</HeaderLink>
						</li>
					)
				}
				<li class="">
					<HeaderLink class="link-header" href="/">About</HeaderLink>
				</li>
				<li class="mx-6 flex flex-col">
					<HeaderLink class="link-header" href="/blog">Blog</HeaderLink>
				</li>
			</ul>
			<div id="nav-arrow-wrapper" role="button" tabindex="0">
				<div id="navbar-fun-line"></div>
				<Icon
					id="nav-arrow"
					viewBox="0 0 24 24"
					class="navbar-fun-line rotate-180 text-[6vb] text-neutral-variant-400"
					name="material-symbols:keyboard-double-arrow-left-rounded"
				/>
			</div>
		</li>
	</ul>
</nav>
<style>
	@media (min-width: 768px) {
		@media (min-width: 1440px) {
			#nav-arrow {
				font-size: 5vb;
				left: calc((5vw - 5vb) / 2);
			}
			#navbar-desktop :global(.link-header) {
				font-size: 3.33vb;
			}
			#navbar-desktop :global(.text-sub) {
				font-size: 1.77vb;
			}
			.nav-item {
				padding-left: calc((5vw - 4vb) / 2);
				padding-right: calc((2.5vw - 2vb) / 2);
			}
		}
		@media (max-width: 1439px) {
			#nav-arrow {
				font-size: 6vb;
				left: calc((5vw - 6vb) / 2);
			}
			#navbar-desktop :global(.link-header) {
				font-size: 4.44vb;
			}
			#navbar-desktop :global(.text-sub) {
				font-size: 2.22vb;
			}
			.nav-item {
				padding-left: calc((5vw - 4vb) / 2);
				padding-right: calc((2.5vw - 4vb) / 2);
			}
		}

		#navbar-desktop {
			position: fixed;
			color: theme(colors.semantic.on-surface-variant);
			transition:
				color 222ms,
				background-color 222ms,
				width 500ms;
			background-color: color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 22%);
			height: 100%;
			width: 5vw;
			top: 0px;
			left: 0px;
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}
		#navbar-desktop:hover {
			width: 16vw;
			transition:
				color 222ms,
				background-color 222ms,
				width 150ms;
		}
		.nav-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 5vw;
			justify-content: space-evenly;
			height: 100%;
		}
		#navbar-desktop:hover .nav-item {
			width: 16vw;
		}
		#nav-arrow {
			position: absolute;
			top: calc((5vb - 3vb) / 2);
			opacity: 1;
			transition:
				rotate 400ms,
				left 500ms,
				color 300ms;
			rotate: 180deg;
			color: theme(colors.neutral-variant.400);
		}
		#navbar-desktop:hover #nav-arrow {
			/* (width of expanded navbar-desktop - the size of a single char) / 2 */
			left: calc((28vw - 4vb) / 2);
			rotate: 270deg;
			color: theme(colors.neutral-variant.400);
			@apply text-neutral-variant-700 dark:text-neutral-variant-200;
			transition:
				rotate 300ms,
				left 200ms,
				color 300ms;
		}
		#navbar-desktop :global(.link-header) {
			font-weight: bold;
			letter-spacing: 0.222rem;
			transition: opacity 0ms;
			opacity: 0;
		}
		#navbar-desktop:hover :global(.link-header) {
			transition: opacity 400ms;
			opacity: 1;
		}
		#navbar-desktop:hover :global(.link-header):hover {
			color: theme(colors.semantic.secondary);
		}
		#navbar-desktop :global(.text-sub) {
			display: unset;
			opacity: 0;
			max-width: 16vw;
			padding-left: calc((4vw - 2ch) / 2);
			transition: opacity 0ms;
			color: theme(colors.semantic.on-surface-variant/.96);
		}
		#navbar-desktop :global(.text-sub):hover {
			color: theme(colors.semantic.secondary);
		}
		#navbar-desktop:hover :global(.text-sub) {
			opacity: 1;
			transition: opacity 400ms;
		}
		#navbar-desktop.background-gradient::before {
			transform: translate3d(-2px, 0px, 0) scale(1);
			border-top-right-radius: 1rem /* 16px */;
			border-bottom-right-radius: 1rem /* 16px */;
		}
		#navbar-desktop.background-gradient::after {
			border-top-right-radius: 1rem /* 16px */;
			border-bottom-right-radius: 1rem /* 16px */;
		}
		#navbar-fun-line {
			width: 1px;
			height: 100%;
			top: calc(((5vb) / 2) + 5px);
			left: calc(calc((5vw - 4vb) / 2) + (4vb / 2) - 5px);
			border-left-width: 9px;
			border-image-source: linear-gradient(
				0deg,
				theme(colors.primary.400) 0%,
				theme(colors.secondary.400) 30%,
				theme(colors.tertiary.400) 60%,
				color-mix(in srgb, theme(colors.primary.400), transparent 70%) 90%
			);
			position: absolute;
			border-image-slice: 1;
			opacity: 0.11;
			filter: blur(14px) saturate(100%);
			transition:
				top 444ms 0s ease-out,
				filter 1s 50ms ease-in-out,
				opacity 5s 250ms ease-in-out;
		}
		#navbar-desktop:hover #navbar-fun-line {
			top: 100vb;
			opacity: 1;
			filter: blur(4px) saturate(200%);
			transition: 0ms;
		}
	}

	@media (max-width: 767px) {
		#navbar-mobile {
			transition:
				color 222ms,
				background-color 222ms,
				width 500ms;
			background-color: color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 15%);
			padding-bottom: calc(env(safe-area-inset-bottom));
		}
		#nav-arrow {
			transition:
				rotate 400ms,
				color 300ms;
		}
		#nav-content-list:focus-within #nav-arrow,
		#nav-content-list:active #nav-arrow {
			rotate: -90deg;
			transition: rotate 177ms;
			@apply text-neutral-variant-700 dark:text-neutral-variant-200;
		}
		#nav-content-mobile {
			bottom: 9vh;
			right: 3svw;
			width: max-content;
			max-width: 94svw;
			gap: 11svw;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			padding: 0.55rem;
			border-radius: 1rem;
			border: 2px dotted transparent;
			background:
				linear-gradient(
						color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 12%),
						color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 12%)
					)
					padding-box,
				var(--linear-gradient-x) border-box;
		}
		#navbar-mobile :global(.link-header) {
			font-weight: bold;
			font-size: 2.5vb;
			letter-spacing: 0.222rem;
		}
		#navbar-mobile :global(.text-sub) {
			font-size: 1.77vb;
			color: theme(colors.semantic.on-surface-variant/.96);
			padding-left: 0.55rem;
			font-weight: 500;
		}

		#navbar-fun-line {
			height: 1px;
			top: 100%;
			position: absolute;
			border-image-slice: 1;
			border-bottom-width: 9px;
			border-image-source: linear-gradient(
				90deg,
				theme(colors.primary.400) 0%,
				theme(colors.secondary.400) 30%,
				theme(colors.tertiary.400) 60%,
				color-mix(in srgb, theme(colors.primary.400), transparent 70%) 90%
			);
			opacity: 1;
			right: 300%;
			width: 300%;

			filter: blur(4px) saturate(100%);
			opacity: 1;
			transition:
				right 133ms 77ms ease-in,
				filter 133ms 0ms ease-in,
				opacity 177ms 0ms ease-in;
		}

		#nav-arrow-wrapper:focus #navbar-fun-line,
		#nav-arrow-wrapper:active #navbar-fun-line {
			opacity: 0.11;
			filter: blur(14px) saturate(200%);
			right: 0%;
			transition:
				right 177ms 0s ease-in,
				filter 777ms 50ms ease-in-out,
				opacity 5s 250ms ease-in-out;
		}
	}
</style>
