---
import { Icon } from 'astro-icon/components';
import { easyConfig } from '../../../easyConfig';
// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons
---

<div id="social-widget-desktop" class="dropdown grid h-full w-full sm:hidden">
	<div id="social-links" tabindex="0" class="collapse row-start-1 row-end-2 flex content-start justify-center opacity-0">
		{
			Object.entries(easyConfig.social_media).map(([key, value]) =>
				value ? (
					<a href={value}>
						<Icon name={`mdi:${key}`} />
					</a>
				) : null
			)
		}
	</div>
	<div class="row-start-2 row-end-3 flex flex-col items-center justify-start">
		<Icon
			id="social-icon"
			role="button"
			class="opacity-70"
			name="material-symbols:face-retouching-natural-outline-rounded"
			tabindex="0"
		/>
		<hr class="collapse mt-2 w-full border-semantic-on-surface-variant/10 opacity-0" />
		<span class="collapse max-h-max font-extralight tracking-widest opacity-0">connect</span>
	</div>
</div>
<div id="social-widget-mobile" class="dropdown flex h-full w-full justify-center md:hidden">
	<div class="flex h-full w-full flex-col justify-center self-center" role="button" tabindex="0">
		<Icon
			id="social-icon"
			class="self-center text-neutral-variant-400"
			name="material-symbols:face-retouching-natural-outline-rounded"
		/>
	</div>
	<div id="social-links" tabindex="0" class="dropdown-content flex">
		{
			Object.entries(easyConfig.social_media).map(([key, value]) =>
				value ? (
					<a href={value}>
						<Icon name={`mdi:${key}`} />
					</a>
				) : null
			)
		}
	</div>
</div>
<style>
	@media (min-width: 768px) {
		@media (min-width: 1440px) {
			#social-links [data-icon] {
				width: 4vb;
				height: 4vb;
			}
			#social-icon {
				width: 4vb;
				height: 4vb;
			}
		}
		@media (max-width: 1439px) {
			#social-links [data-icon] {
				width: 5vb;
				height: 5vb;
			}
			#social-icon {
				width: 8vb;
				height: 8vb;
			}
		}
		#social-widget-desktop {
			container-name: socialWidget;
			container-type: size;
			grid-template-rows: 70% 30%;
			padding-right: calc((3rem - 2ch) / 2);
		}
		#social-links {
			flex-wrap: wrap-reverse;
			row-gap: 0.77rem;
			padding-top: 1rem;
			column-gap: 0.77rem;
			padding-right: calc((1.5rem - 2ch) / 2);
			transition:
				visibility 0ms 0ms,
				opacity 0ms 0ms;
		}

		#social-icon {
			transition: opacity 700ms 350ms;
		}
		#social-links [data-icon] {
			color: theme(colors.semantic.on-surface-variant);
		}
		#social-links :is(a:hover) [data-icon] {
			color: theme(colors.semantic.secondary);
		}
		span,
		hr {
			transition:
				visibility 0ms 0ms,
				opacity 0ms 0ms;
		}

		@container socialWidget (width > 4rem) {
			#social-links {
				opacity: 1;
				transition:
					visibility 100ms 50ms,
					opacity 100ms 50ms;
				visibility: visible;
			}
			#social-icon {
				transition: 0ms;
				visibility: collapse;
				opacity: 0;
				width: 0vb;
				height: 0vb;
			}
			span {
				opacity: 1;
				visibility: visible;
				transition:
					visibility 100ms 50ms,
					opacity 100ms 50ms;
			}
			hr {
				opacity: 1;
				visibility: visible;
				transition:
					visibility 100ms 50ms,
					opacity 100ms 50ms;
			}
		}
	}
	@media (max-width: 767px) {
		#social-links {
			bottom: 9vh;
			left: 3svw;
			width: max-content;
			max-width: 88vw;
			flex-wrap: wrap;
			flex-direction: row;
			row-gap: 0.77rem;
			column-gap: 0.77rem;
			padding: 0.55rem;
			display: flex;
			border: 2px dotted transparent;
			background:
				linear-gradient(
						color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 12%),
						color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 12%)
					)
					padding-box,
				var(--linear-gradient-x) border-box;

			border-radius: 0.55rem;
		}

		#social-icon {
			margin-bottom: -0.25rem;
			width: 4vb;
			height: 4vb;
			transition: color 300ms;
		}
		#social-widget-mobile:focus-within #social-icon,
		#social-widget-mobile:active #social-icon {
			@apply text-neutral-variant-700 dark:text-neutral-variant-200;
		}
		#social-links [data-icon] {
			width: 5vb;
			height: 5vb;
			color: theme(colors.semantic.on-surface-variant);
		}
		#social-links :is(a:hover, a:focus, a:active) [data-icon] {
			color: theme(colors.semantic.secondary);
		}
	}
</style>
