---
import { Icon } from 'astro-icon/components';
import { easyConfig } from '../../siteConfig';
// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons
---

<div id="social-widget" class="dropdown flex">
	<div
		id="social-links"
		tabindex="0"
		class="sm:dropdown-content sm:z-[1] md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-2 md:hidden"
	>
		{
			Object.entries(easyConfig.social_media).map(([key, value]) =>
				value ? (
					<a href={value}>
						<Icon name={`mdi:${key}`} />
					</a>
				) : null
			)
		}
	</div>
	<hr class="mt-2 hidden w-full border-semantic-on-surface-variant/10 md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3" />
	<Icon
		id="social-icon"
		role="button"
		class="self-center md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3 md:opacity-70"
		name="mdi:account-multiple-plus-outline"
		tabindex="0"
	/>
	<span
		class="hidden max-h-max self-center justify-self-center font-extralight tracking-widest md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3"
		>connect</span
	>
</div>

<style>
	#social-icon {
		width: 4vb;
		height: 4vb;
		opacity: 1;

		transition: 900ms;
	}
	@media (max-width: 767px) {
		#social-links {
			bottom: 7vh;
			width: max-content;
			max-width: 88vw;
			flex-wrap: wrap;
			flex-direction: row;
			row-gap: 0.77rem;
			column-gap: 0.77rem;
			padding: 0.55rem;
			display: flex;
			background:
				linear-gradient(theme(colors.semantic.surface-variant), theme(colors.semantic.surface-variant)) padding-box,
				var(--linear-gradient-x) border-box;
			border-radius: 0.55rem;
			border: 4px dotted transparent;
		}
		#social-icon {
			margin-bottom: -0.3rem;
		}
		svg {
			width: 5vb;
			height: 5vb;
		}
		a {
			color: theme(colors.semantic.on-surface-variant);
		}
	}

	@media (min-width: 768px) {
		#social-widget {
			display: flex;
		}
		#social-widget {
			display: grid;
			container-name: socialWidget;
			container-type: size;
			grid-template-rows: 75% 25%;
			grid-template-columns: 25% 75%;
			width: 100%;
			height: 100%;
			overflow: clip;
			z-index: 1;
			padding-right: calc((3rem - 2ch) / 2);
		}
		#social-links {
			flex-wrap: wrap-reverse;
			row-gap: 0.77rem;
			padding-top: 1rem;
			column-gap: 0.77rem;
			align-content: flex-start;
			padding-right: calc((1.5rem - 2ch) / 2);
		}

		svg {
			width: 3vb;
			height: 3vb;
		}
		a {
			color: theme(colors.semantic.on-surface-variant);
		}
		@container socialWidget (width > 4rem) {
			#social-links {
				display: flex;
			}
			#social-icon {
				opacity: 0;
				transition: 50ms;
			}
			span {
				display: flex;
			}
			hr {
				display: flex;
			}
		}
	}

	a:hover {
		color: theme(colors.semantic.secondary);
	}
</style>
