---
import SocialLinks from "./SocialLinks.astro"
import { FULL_NAME } from '../siteConfig';
const today = new Date();
---


<footer class="footer gap-y-0 font-light text-3xl lg:text-sm footer-center p-10 rounded">
	<SocialLinks />
	<aside>
		<p>
			Use <a class="easy-link" href="https://github.com/ShelbyJenkins/easy-astro-blog-creator">easy-astro-blog-creator</a> to create your own GitHub Pages blog!
		</p>	  
		<p>&copy; {today.getFullYear()} {FULL_NAME}. All rights reserved.</p>
	</aside>
</footer>
