---
import { easyConfig } from '@utils/easyConfig';
const today = new Date();
---

<aside class="footer-text justify-self-end">
	<p class="m-0 pb-1">
		Create your own GitHub Pages blog with <a
			class="sm:z-[-1] md:z-[1] md:blur-[0.1px]"
			href="https://github.com/ShelbyJenkins/easy-astro-blog-creator">easy-astro-blog-creator</a
		>!
	</p>
	<hr class="my-1 w-3/12 border-semantic-on-surface-variant/10" />

	<p class="m-0">&copy; {today.getFullYear()} {easyConfig.fullName}.</p>
</aside>

<style>
	.footer-text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		font-size: 0.5rem;
		margin-top: 1rem;
		margin-bottom: auto;
		margin-right: 1rem;
	}
	#divider {
		border-bottom-width: 1px;
		border-color: theme(colors.semantic.on-surface-variant);
		width: 12%;
	}
	a {
		background: var(--linear-gradient-x);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-weight: 600;
		filter: contrast(1) saturate(1);
		transition: 3s ease;
		position: relative;
	}
	a:hover {
		filter: contrast(1.2) saturate(3) blur(0.33px);
	}
</style>
