---
import { easyConfig } from '../siteConfig';
const today = new Date();
---

<aside class="footer-text">
	<p class="m-0 pb-1">
		Create your own GitHub Pages blog with <a class="" href="https://github.com/ShelbyJenkins/easy-astro-blog-creator"
			>easy-astro-blog-creator</a
		>!
	</p>
	<p id="divider" class="mx-auto h-0"></p>
	<p class="m-0 pt-1">&copy; {today.getFullYear()} {easyConfig.full_name}.</p>
</aside>

<style>
	.footer-text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		font-size: 0.5rem;
		margin-top: 1rem;
		margin-bottom: auto;
		margin-right: 1rem;
	}
	#divider {
		border-bottom-width: 1px;
		border-color: theme(colors.semantic.on-surface-variant);
		width: 12%;
	}
	a {
		background: var(--linear-gradient-x);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-weight: 600;
		filter: contrast(1) saturate(1) blur(0.1px);
		transition: 3s ease;
	}
	a:hover {
		filter: contrast(1.2) saturate(3) blur(0.2px);
	}
</style>
