---
import SocialLinks from "./SocialLinks.astro"
import { FULL_NAME } from '../consts';
const today = new Date();
---


<footer>
	<SocialLinks class="footer-social-links"/>
	<hr />
	<p>
		Use <a href="https://github.com/ShelbyJenkins/easy-astro-blog-creator" target="_blank">easy-astro-blog-creator</a> to create your own GitHub Pages blog!
	  </p>	  
	<hr />
	&copy; {today.getFullYear()} {FULL_NAME}. All rights reserved.

</footer>

<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--social-links-color));
		font-size: 0.7em;
		text-align: center;
	}
</style>