---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from "./SocialLinks.astro"
import ThemeIcon from './ThemeIcon.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2>
			<ThemeIcon />
			<a href="/">
				
				{SITE_TITLE}
			</a>
		</h2>
		
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		
		<SocialLinks class="header-social-links"/>
		
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		color: rgb(var(--font-color-light));
	}
	h2 {
		margin: 0;
		font-size: 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--font-color-light));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
