---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

let isActive;
let underlineWeight;
let underlineOffset;

if (className && className.includes('link-sub')) {
	underlineWeight = 'decoration-2';
	underlineOffset = 'underline-offset-1';
	isActive = pathname === href;
} else {
	underlineWeight = 'decoration-4';
	underlineOffset = 'underline-offset-6';
	isActive = pathname === href || pathname.startsWith(`${href}/`);
}

const underline = isActive ? 'underline' : 'no-underline';
const underlineColor = 'decoration-semantic-primary';
const bold = isActive ? 'font-bold' : 'font-medium';
---

<a style="" href={href} class:list={[className, underlineWeight, underlineOffset, bold, underline, underlineColor]} {...props}>
	<slot />
</a>
<style>
	a {
		color: theme(colors.semantic.on-surface-variant);
	}
	a:hover {
		color: theme(colors.semantic.secondary);
	}
</style>
