---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = pathname === href || pathname.startsWith(`${href}/`);


const underline = isActive ? 'underline' : 'no-underline';
const bold = isActive ? 'font-bold' : 'font-medium';
---

<a href={href} class:list={[
	className,
	'decoration-4',
	'underline-offset-8',
	'px-4',
	bold,
	underline,
	]} 
	{...props}>
	<slot />
</a>
