---
import { Icon } from 'astro-icon/components';
import HeaderLink from './HeaderLink.astro';
import { easyConfig } from '../siteConfig';
import Footer from '../components/Footer.astro';
import SocialLinks from './SocialLinks.astro';
---

<nav id="navbar">
	<div id="navbar-fun-line"></div>
	<Icon id="logo-icon" class="hidden md:block" name="solar:double-alt-arrow-down-line-duotone" />
	<ul id="nav-list" class="flex h-full w-full flex-row-reverse items-center justify-around md:grid">
		<li class="nav-item md:row-start-2 md:row-end-4">
			<HeaderLink class="link-header" href="/blog">Blog</HeaderLink>
			<span class="link-sub hidden italic">{easyConfig.site_description}</span>
		</li>
		<li class="nav-item md:row-start-5 md:row-end-6">
			<HeaderLink class="link-header" href="/">About</HeaderLink>
		</li>
		{
			easyConfig.easyabc_enabled && (
				<li class="nav-item md:row-start-7 md:row-end-9">
					<HeaderLink class="link-header" href="/easy">
						EasyABC
					</HeaderLink>
					<ul class="hidden h-full md:grid md:grid-rows-3">
						<li>
							<HeaderLink class="link-sub" href="/easy">
								Readme
							</HeaderLink>
						</li>
						<li>
							<HeaderLink class="link-sub" href="/easy/blog">
								EasyABC Blog
							</HeaderLink>
						</li>
						<li>
							<HeaderLink class="link-sub" href="/easy/theme">
								ColorFun
							</HeaderLink>
						</li>
					</ul>
				</li>
			)
		}
		<li class="nav-item md:row-start-[12] md:row-end-[18]">
			<SocialLinks />
		</li>
		<li class="nav-item link-sub hidden md:row-start-[18] md:row-end-[21] md:block">
			<Footer />
		</li>
	</ul>
</nav>
<style>
	#navbar {
		position: fixed;
		z-index: 1;
		color: theme(colors.semantic.on-surface-variant);
		transition:
			color 777ms,
			background-color 777ms,
			width 500ms;
		background-color: color-mix(in srgb, theme(colors.semantic.surface-variant), transparent 22%);
	}
	@media (max-width: 767px) {
		#navbar {
			height: 7vh;
			width: 100%;
			bottom: 0px;
			left: 0px;
			top: unset;
			padding-bottom: calc(1vh + env(safe-area-inset-bottom));
		}
		#navbar:before {
			transform: translate3d(0px, 2px, 0) scale(1);
			border-top-right-radius: 0rem;
			border-bottom-right-radius: 0rem;
		}
		#navbar::after {
			border-top-right-radius: 0rem;
			border-bottom-right-radius: 0rem;
		}
	}
	@media (min-width: 768px) {
		#navbar {
			height: 100%;
			width: 5vw;
			top: 0px;
			left: 0px;
			bottom: unset;
			@apply rounded-r-2xl;
		}
		#logo-icon {
			position: absolute;
			left: calc((5vw - 4vb) / 2);
			top: calc((5vb - 3vb) / 2);
			opacity: 1;
			font-size: 4vb;
			transition:
				rotate 400ms,
				left 500ms,
				color 300ms;
			rotate: 180deg;
			@apply text-neutral-variant-400 dark:text-neutral-variant-400;
		}
		#navbar-fun-line {
			width: 1px;
			height: 100%;
			top: calc(((5vb) / 2) + 5px);
			left: calc(calc((5vw - 4vb) / 2) + (4vb / 2) - 5px);
			position: absolute;
			border-image-source: linear-gradient(
				0deg,
				theme(colors.primary.400) 0%,
				theme(colors.secondary.400) 30%,
				theme(colors.tertiary.400) 60%,
				color-mix(in srgb, theme(colors.primary.400), transparent 70%) 90%
			);
			border-image-slice: 1;
			border-left-width: 9px;
			opacity: 0.11;
			filter: blur(14px) saturate(100%);
			transition:
				top 444ms 0s ease-out,
				filter 1s 50ms ease-in-out,
				opacity 5s 250ms ease-in-out;
		}
		#nav-list {
			height: 100%;
			grid-template-rows: repeat(20, minmax(0, 1fr));
			justify-content: unset;
			align-items: unset;
		}
		.nav-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 5vw;
			justify-content: space-evenly;
			height: 100%;
			padding-left: calc((5vw - 4vb) / 2);
			padding-right: calc((2.5vw - 4vb) / 2);
		}
		.link-header {
			font-weight: bold;
			font-size: 3.33vb;
			letter-spacing: 0.222rem;
			transition: opacity 0ms;
			opacity: 0;
		}
		.link-sub {
			display: unset;
			opacity: 0;
			max-width: 16vw;
			padding-left: calc((4vw - 2ch) / 2);
			font-size: 1.77vb;
			transition: opacity 0ms;
			color: theme(colors.semantic.on-surface-variant/.96);
		}
		#navbar:hover .nav-item {
			width: 16vw;
		}
		#navbar:hover {
			width: 16vw;
			transition:
				color 777ms,
				background-color 777ms,
				width 150ms;
		}
		#navbar:hover #navbar-fun-line {
			top: 100vb;
			opacity: 1;
			filter: blur(4px) saturate(200%);
			transition: 0ms;
		}
		#navbar:hover #logo-icon {
			/* (width of expanded navbar - the size of a single char) / 2 */
			left: calc((28vw - 4vb) / 2);
			rotate: 270deg;
			color: theme(colors.neutral-variant.400);
			@apply text-neutral-variant-600 dark:text-neutral-variant-200;
			transition:
				rotate 300ms,
				left 200ms,
				color 300ms;
		}
		#navbar:hover .link-header {
			transition: opacity 400ms;
			opacity: 1;
		}
		#navbar:hover .link-sub {
			opacity: 1;
			transition: opacity 400ms;
		}
		#navbar:before {
			transform: translate3d(-2px, 0px, 0) scale(1);
			border-top-right-radius: 1rem /* 16px */;
			border-bottom-right-radius: 1rem /* 16px */;
		}
		#navbar::after {
			border-top-right-radius: 1rem /* 16px */;
			border-bottom-right-radius: 1rem /* 16px */;
		}
	}
	#navbar:before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--linear-gradient-y);

		filter: blur(2px);
		opacity: 0.55;
		transition: opacity 0.3s;
	}
	#navbar::after {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
	}
</style>
