---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import { FIRST_NAME, FULL_NAME } from '../siteConfig';
---

<header class="w-full">
	<nav class="rounded-b-lg flex items-center justify-between mx-2 text-5xl lg:text-2xl">
		<div>
			<HeaderLink class="inline-block lg:hidden" href="/">{FIRST_NAME}</HeaderLink>
			<HeaderLink class="hidden lg:inline-block" href="/">{FULL_NAME}</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/easy">EasyABC</HeaderLink>
		</div>
		<ThemeIcon />
	</nav>
</header>
<div class="pb-6"></div>

