---
import { Icon } from 'astro-icon/components'
import { easyConfig } from '../siteConfig';
// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons
const { href, class: className, ...props} = Astro.props;
---


    <div class:list={[
        'social',
        className,
        'flex',
        'flex-col',
        'gap-2',
        // 'place-content-center'
        ]} 
        {...props}>
        <slot />
        <a href={easyConfig.linkedin_url} >
            <Icon name="mdi:linkedin"/>
        </a>    
        <a href={easyConfig.twitter_url} >
            <Icon name="mdi:twitter"/>
        </a>    
        <a href={easyConfig.github_url} >
            <Icon name="mdi:github"/>
        </a>
    </div>


<style>
    [data-icon] {
        margin-left: calc(1ch / -3);
    }
</style>