---
import { Icon } from 'astro-icon/components'
import { FIRST_NAME, LINKEDIN_URL, TWITTER_URL, GITHUB_URL} from '../siteConfig';
// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons
---

<nav >
    <div class="grid grid-flow-col gap-4">
        <a href={LINKEDIN_URL} >
            <Icon name="mdi:linkedin"/>
        </a>    
        <a href={TWITTER_URL} >
            <Icon name="mdi:twitter"/>
        </a>    
        <a href={GITHUB_URL} >
            <Icon name="mdi:github"/>
        </a>
    </div>
    <div class="divider divider-neutral w-full ">Follow {FIRST_NAME}</div>
</nav>

<style>
    [data-icon] {
        text-decoration: none;
        @apply w-20 lg:w-12;
        height: auto;
    }
</style>