---
import { Icon } from 'astro-icon/components';
import { easyConfig } from '../siteConfig';
// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons
---

<div>
	<a href={easyConfig.linkedin_url}>
		<Icon name="mdi:linkedin" />
	</a>
	<a href={easyConfig.twitter_url}>
		<Icon name="mdi:twitter" />
	</a>
	<a href={easyConfig.github_url}>
		<Icon name="mdi:github" is:inline />
	</a>
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		z-index: 1;
	}
	a {
		color: theme(colors.semantic.on-surface-variant);
		width: fit-content;
	}

	a:hover {
		color: theme(colors.semantic.secondary);
	}

	svg {
		width: 3vb;
		height: 3vb;
	}
</style>
