---
import { Icon } from 'astro-icon/components';
---

<button id="theme-toggle">
	<svg id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
		><path
			fill="var(--icon-1)"
			fill-rule="evenodd"
			d="M7.25 22a.75.75 0 0 1 .75-.75h8a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75m-2.333 3.25H2a.75.75 0 0 0 0 1.5h20a.75.75 0 0 0 0-1.5z"
			clip-rule="evenodd"></path><path
			fill="var(--icon-2)"
			d="M4.25 19a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75m1-7c0 1.178.302 2.286.833 3.25h11.834a6.751 6.751 0 0 0-5.167-9.96h-1.5a6.751 6.751 0 0 0-6 6.709"
		></path><path
			fill="var(--icon-3)"
			d="M11.47 12.841a.75.75 0 0 0 1.06 0l2-2a.75.75 0 0 0-1.06-1.06l-.72.719V5.29c-.447-.068-1.186-.028-1.5 0v5.21l-.72-.72a.75.75 0 1 0-1.06 1.061z"
		></path><path
			fill="var(--icon-2)"
			d="M4.398 4.398a.75.75 0 0 1 1.061 0l.393.393a.75.75 0 0 1-1.06 1.06l-.394-.392a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.392.393a.75.75 0 0 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.06 0"
		></path></svg
	>
	<svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
		><path
			fill="var(--icon-1)"
			fill-rule="evenodd"
			d="M7.25 22a.75.75 0 0 1 .75-.75h8a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75"
			clip-rule="evenodd"></path><path
			fill="var(--icon-2)"
			d="M5.25 12c0 1.178.302 2.286.833 3.25H2a.75.75 0 0 0 0 1.5h9.25v-4.94l-.72.72a.75.75 0 1 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 0l2 2a.75.75 0 1 1-1.06 1.06l-.72-.72v4.94H22a.75.75 0 0 0 0-1.5h-4.083A6.75 6.75 0 1 0 5.25 12"
		></path><path
			fill="var(--icon-3)"
			d="M12.53 9.47a.75.75 0 0 0-1.06 0l-2 2a.75.75 0 1 0 1.06 1.06l.72-.72v4.94h1.5v-4.94l.72.72a.75.75 0 1 0 1.06-1.06zM4.25 19a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75"
		></path><path
			fill="var(--icon-2)"
			d="M4.398 4.398a.75.75 0 0 1 1.061 0l.393.393a.75.75 0 0 1-1.06 1.06l-.394-.392a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.392.393a.75.75 0 0 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.06 0"
		></path></svg
	>
</button>
<style>
	#sun {
		@apply block dark:hidden;
		--icon-1: oklch(var(--colors-tertiary-200) / 0.77);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 0.97);
		--icon-3: oklch(var(--colors-primary-200) / 1);
	}

	#sun:hover {
		--icon-1: oklch(var(--colors-tertiary-200) / 0.88);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 0.97);
		--icon-3: oklch(var(--colors-primary-500) / 0.77);
	}
	#sun:active {
		--icon-1: oklch(var(--colors-tertiary-300) / 0.66);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 0.87);
		--icon-3: oklch(var(--colors-primary-700) / 0.77);
	}
	#moon {
		@apply hidden dark:block;
		--icon-1: oklch(var(--colors-primary-400) / 0.66);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 0.77);
		--icon-3: oklch(var(--colors-tertiary-100) / 0.33);
	}

	#moon:hover {
		--icon-1: oklch(var(--colors-primary-400) / 0.77);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 0.88);
		--icon-3: oklch(var(--colors-tertiary-200) / 0.88);
	}
	#moon:active {
		--icon-1: oklch(var(--colors-primary-400) / 0.88);
		--icon-2: oklch(var(--colors-semantic-surface-variant) / 1);
		--icon-3: oklch(var(--colors-tertiary-200) / 0.99);
	}
	#theme-toggle {
		border-radius: 3rem;
		position: fixed;
		right: 2dvw;
		top: 5dvh;
		width: 15svw;
		height: auto;
		z-index: 1;
		transition-property: all;
		transition-duration: 2000ms;
		/* backdrop-filter: blur(4px) invert(1); */
		backdrop-filter: blur(4px);
	}

	@media (scripting: none) {
		#theme-toggle {
			display: none;
		}
	}
	@media (min-width: 768px) {
		#theme-toggle {
			width: 7svw;
		}
	}
</style>
<script is:inline>
	const getTheme = () => {
		if (typeof localStorage !== 'undefined') {
			const storedTheme = localStorage.getItem('theme');
			if (storedTheme) {
				return storedTheme;
			}
		}
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	};
	function applyTheme(toggle = false) {
		let theme = getTheme();
		if (toggle) {
			theme = theme === 'dark' ? 'light' : 'dark';
		}
		localStorage.setItem('theme', theme);
		if (theme === 'light') {
			if (document.documentElement.classList.contains('dark')) {
				document.documentElement.classList.remove('dark');
			}
		} else {
			document.documentElement.classList.add('dark');
		}
	}

	const themeToggle = document.getElementById('theme-toggle');
	if (!themeToggle) {
		throw new Error('Theme toggle button not found');
	}
	themeToggle.addEventListener('click', () => applyTheme(true));
	applyTheme();
</script>
