---
import heroImage from '/public/images/easy-hero.png';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Content as ReadMe } from '/README.md';
import { easyConfig } from 'src/siteConfig';

const SITE_TITLE = 'Easy Astro Blog Creator';
const SITE_DESCRIPTION = 'Create and host a blog for free using github pages.';
const heroAlt = 'Easy logo.';
---

{
	easyConfig.easyabc_enabled && (
		<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} heroImage={heroImage} heroAlt={heroAlt}>
			<article>
				<ul class="gap-4 pb-2 sm:flex md:hidden ">
					<li>
						<a class="link-sub" href="/easy">
							Readme
						</a>
					</li>
					<li>
						<a class="link-sub" href="/easy/blog">
							EasyABC Blog
						</a>
					</li>
					<li>
						<a class="link-sub" href="/easy/theme">
							ColorFun
						</a>
					</li>
				</ul>
				<div id="article-text" class="prose prose-customTheme max-w-none">
					<ReadMe />
				</div>
			</article>
		</BaseLayout>
	)
}