---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Palette from '../../components/Palette.astro';

const PAGE_TITLE = 'EasyABC Theme';
const PAGE_DESCRIPTION = 'Viewing and applying Themes for EasyABC';

---
<BaseLayout page_title={PAGE_TITLE} page_description={PAGE_DESCRIPTION}>
    <main class="px-4 py-6 rounded-lg w-full">
        <Palette/>
    </main>
</BaseLayout>
